body{
    margin: 0px;

}
/* body header */
#body-header{
    height: 70vh;
    opacity: 1;
    background-image: url(https://media.istockphoto.com/id/500954400/photo/computer-coffee-mug-telephone-on-black-wood-table-sun-rising.jpg?s=612x612&w=0&k=20&c=AWZgqePKVZQ30tKTRtZQlrWSd1ycwGpVtr1tRbDmn8o=);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* horizontal list */
.horizontal-list{
    list-style: none;
    padding-left: 0px;
    
    
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 8px;
     
}

.horizontal-list li a{
    color: black;
    text-decoration: none;
    transition: color 0.5s, border-bottom 0.4s;
    
}

.horizontal-list li a:hover{
    color: orange;
    border-bottom: 1px solid black;
}

.text-center{
    text-align: center;
    font-size: 25px;
}

#name-social-container{
    margin-top: 5vh;
}
#my-name{
    color: wheat;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;

}

.social-icon li a i{
    margin-top: 5vh;
    font-size: 2rem;
    padding-top: 0px; 
    border-radius: 50%;  
}

.social-icon li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.2);

}

/*Section Classes*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
/*about section*/
#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -13vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;

}

.section-heading span{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
    text-align: center;
}
.section-heading span{
    font-size: 40px;
    color: 2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-top: 0.5rem;
}
/*skill section*/

#skill-section{
    width: 100%;
    height: 500px;
    flex-flow: column;

}
.skill-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}
.skill-progress > div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skill-name span {
    color: white;
    font-size: 1rem center;
    margin-left: 20px;
    vertical-align: middle;
    padding: 20px;
    

}


/*empty container*/

.empty-container{
    width: 100%;
    height: 400px;
    background-color: white;
}

/*Portfolio Section */


#portfolio-section {
     width: 100%;
     height: 400px;
     background-color: lightgray;
}


/*this is portfolio container section*/

#main-container{
    width: 100%;
    height: 500px;
    background-color: lightgrey;


}
#combine-container{
   display: flex;
   justify-content: center;
   padding-top: 100px;
   flex-wrap: wrap;
   display: flex;
}
img{     
    width: 250px;
    height: 300px;
 
}
.container-1{
    width: 250px;
    height: 300px;
    color: dimgray;
    border: 2px solid black;
    display: inline-block;
    margin: 50px 20px 50px 20px;

}
.container-2{
    width: 250px;
    height: 300px;
    color: dimgray;
    border: 2px solid black;
    display: inline-block;
    margin: 50px 20px 50px 20px;
}

.container-3{
    width: 250px;
    height: 300px;
    color: dimgray;
    border: 2px solid black;
    display: inline-block;
    margin: 50px 20px 50px 20px;
}

/*empty-container_2*/
.empty-section_2{
    width: 100%;
    height: 400px;
    background-color: darkred;
}

/*Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}

/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}
/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}
.mb-slateblue{
    background-color: #7b68ee;
}



/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}





